/*Grilla */
  /*Empieza animacion Menu Verduras*/   
ul{             
	li{
	    position:relative;
	    height:55px;

		a{
		    text-decoration:none;
		    display:inline-block;
		    padding:5px 10px;
		    width:160px;
		    //height:40px;
		    border:2px solid #005c1d;
		    border-radius: 10px;
		    color:#005c1d;
		    background-color:rgba(145,188,219,0.5);
		}
		a:hover{
		    color:#7da17e;
		    background-color:#ffa600;
		}
		ul{
		    display:none;
		    position:absolute;
		    list-style-type: none;
		    top:0px;
		    left:150px;
		}
	}
}
 li:hover ul{display:block;}
/*Termina animacion Menu*/ 
 .menu{
	background-color: rgba(145,188,219,0.5);
	font-family: 'Homemade Apple', cursive;
	font-size: 24px; 
	font-weight: 900;
	text-align: center;  
 	list-style-type: none;
	//margin-left: 50px;
	width: 190px;
	height: 410px;
	padding:10px 50px 20px 10px;
	border: 5px solid #7b8a00;
	border-radius: 20px;
	display: inline-block;
 }

/*Contacto*/
.contacto{
	background-color: rgba(238,238,238,0.8);
	display: inline-block;
	border-width: 4px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    margin-left: 20%;
	}
form{
	padding:10px 25px;
}
/*Grilla Semillasl, Frutas*/  
.imgri{
	height: 120px;
	width: 120px;
	transition: 0.6s;
}
.textgri{
	font-size:1rem;
	justify-content: center;
	position: absolute;
	top: 10px;
    left: 50px;
    opacity:0;
    transition: 0.6s;
}
.itgri{
	position: relative;
}
.itgri:hover{
	.imgri{
		height: 130px;
		width: 130px;
		opacity:0.5;}
	.textgri{opacity:1;}		
}
.grilla__columnah{
	height: 130px;
	justify-content: space-around;
}
.col-md-3{
	align-self: center;
	text-align-last: center;
}
/*Carrusel*/
#carouselExampleIndicators{
	margin-left:200px;
 	    a{
	    	background-color: #2125295c;
		}
}
.carousel-control-next, .carousel-control-prev {
	height: 404px;	
}
.carousel-indicators {
  top:400px;
}
.carousel-item{
	float: left;
    margin-left: 12.5%;
}





